*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.TTF filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.wktree filter=lfs diff=lfs merge=lfs -text
*.changes filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
.plastic/64239907-4623-473e-8cc9-daa22c070312 filter=lfs diff=lfs merge=lfs -text
.plastic/712c953f-45a3-420c-af04-36ff671cc937 filter=lfs diff=lfs merge=lfs -text
.plastic/ec2c99c3-97af-4eba-ab9e-660643e9f726 filter=lfs diff=lfs merge=lfs -text
.plastic/3f3c9590-7d4a-4922-8ec9-f65b3488e533 filter=lfs diff=lfs merge=lfs -text
.plastic/eefbf48f-febd-4dc0-bf48-7d121df52287 filter=lfs diff=lfs merge=lfs -text
.plastic/777a6eda-1201-4afb-9906-b653aebe890b filter=lfs diff=lfs merge=lfs -text
.plastic/6b957ca7-c1f6-445b-a917-15a5a9f336d8 filter=lfs diff=lfs merge=lfs -text
.plastic/f199b815-5643-4f96-a994-098759b4260f filter=lfs diff=lfs merge=lfs -text
.plastic/25ab9838-0fef-459c-a66b-311f4f4ba726 filter=lfs diff=lfs merge=lfs -text
.plastic/022f8c0b-aa60-4827-9328-3ef9179b44d9 filter=lfs diff=lfs merge=lfs -text
.plastic/07e77288-34ff-4b53-a6d5-338fee4e23f1 filter=lfs diff=lfs merge=lfs -text
.plastic/afd5e685-11ed-49f5-a61c-43c9f35c10fb filter=lfs diff=lfs merge=lfs -text
.plastic/05e5338d-7cc1-4f40-8ef5-7e23edb57e20 filter=lfs diff=lfs merge=lfs -text
.plastic/880eb49c-398c-4d58-ac48-7b5a79ac9244 filter=lfs diff=lfs merge=lfs -text
.plastic/7839a00c-f815-4b9b-b026-76de67db113a filter=lfs diff=lfs merge=lfs -text
.plastic/2f9e312c-d6d4-4d85-bf60-61c07ba2bc9b filter=lfs diff=lfs merge=lfs -text
.plastic/6ffc0dd4-86d3-4175-b62e-797909b734f4 filter=lfs diff=lfs merge=lfs -text
.plastic/5a8f317b-1ed0-4963-a01d-c3a002151dcd filter=lfs diff=lfs merge=lfs -text
.plastic/1fe60e51-4fa9-4538-841f-765437f91296 filter=lfs diff=lfs merge=lfs -text
.plastic/d18bc41e-22a1-49da-9e76-c0ddd62ee6c3 filter=lfs diff=lfs merge=lfs -text
.plastic/1c1757cd-57da-48fb-b2af-5a083ecdde4d filter=lfs diff=lfs merge=lfs -text
.plastic/289ec09c-dd1a-4355-849e-b132fcc9a329 filter=lfs diff=lfs merge=lfs -text
